* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* White text color for better contrast */
  margin: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.input-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #1E1E1E; /* Slightly lighter dark color */
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textbox {
  width: 100%;
  height: 40px;
  padding: 13px;
  border: 1px solid #3E3E3E; /* Darker border */
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: #2E2E2E; /* Darker background for textbox */
  color: #ffffff; /* White text color */
  transition: border-color 0.3s ease;
}

.textbox:focus {
  outline: none;
  border-color: #7349a7; /* Purple accent color */
}

.send {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #7349a7; /* Purple accent color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send:hover {
  background-color: #503275; /* Darker purple for hover */
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: auto;
  overflow-y: auto;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.sent {
  justify-content: flex-end;
  background-color: #915dd1; /* Match input-area background */
  color: #ffffff; /* White text color */
  padding: 10px;
  border-radius: 4px;
  max-width: 60%;
  word-wrap: break-word;
  align-self: flex-end;
}

.received {
  justify-content: flex-start;
  background-color: #2E2E2E; /* Slightly lighter dark color */
  color: #ffffff; /* White text color */
  padding: 10px;
  border-radius: 4px;
  max-width: 60%;
  word-wrap: break-word;
  align-self: flex-start;
}
