<!--Purpose: Provides a dedicated page for creating comments-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Create Comment</title>
    <link rel="stylesheet" href="/static/createComment.css">
</head>
<body>

    <div class="post-form">
        <h2>New comment</h2>
        <form action="/post/{{.}}/comment" method="post" onsubmit="return validateComment()">
            <textarea name="content" id="content" required placeholder="Enter your comment here..."></textarea>
            <button type="submit">Submit</button>
        </form>      
    </div>
    <a href="/post/{{.}}">Back to Post</a>


    <script>
        function validateComment() {
            const content = document.getElementById('content').value.trim();

            if (content === '') {
                alert('Comment cannot be empty');
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
