<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/help.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Lora:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
    <title>Help & Support</title>
</head>
<body>
    <header>
        
        <a class="bar"><i class='bx bx-support'></i><span>Help & Support</span></a>
        <div class="header-right">
            <a onclick="toggleMenu()" class="mann"><i class='bx bx-menu'></i></a>
        </div>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user">
                    <a href="/user-info"><i class='bx bx-user-circle'></i>User</a>
                </div>
                <hr>
                <div class="home">
                    <a href="/"><i class='bx bx-home-circle'></i>Home</a>
                </div>
                <hr>
                <div class="help">
                    <a href="/help"><i class='bx bx-help-circle'></i>Help & Support</a>
                </div>
                <hr>
                <div class="logout">
                    <form action="/logout" method="post">
                        <button type="submit"><i class='bx bx-log-out-circle'></i>Logout</button>
                    </form>
                </div>
            </div>
        </div>

    </header>

    <main>
        <div class="con">
            <p class="con1"><i class='bx bxl-discord-alt'></i>Yalsayya</p>
            <p class="con2"><i class='bx bxl-discord-alt'></i>Salmosawi</p>
            <p class="con3"><i class='bx bxl-discord-alt'></i>imohamed</p>
            <p class="con3"><i class='bx bxl-discord-alt'></i>Smahfood</p>
        </div>
    </main>

    </div>

    <script>
        function toggleMenu() {
    const subMenu = document.getElementById("subMenu");

    subMenu.classList.toggle("open-menu");
}
    </script>
</body>
</html>