<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/homePage.css">
</head>

<body>
    <h1>Forum posts</h1>
    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>
    <ul>
        <div class="create">
            <a href="/create-post">+ Add Post</a>
        </div>
        {{range .}}
        <a href="/home/post/{{.ID}}" class="post-link">
            <div class="rectangle">
                <div class="post">
                    <div class="post-meta">
                        <small>By {{.Username}}</small><br>
                        <small>Posted on {{.FormattedCreatedAt}}</small>
                    </div>
                    <h2 class="post-title">{{.Title}}</h2>
                    {{if gt (len .Categories) 0}}
                    <p>Categories: {{range .Categories}}{{.Name}}{{end}}</p>
                    {{end}}
                    <p class="post-content">{{.Content}}</p>
                </div>
            </div>
        </a>
        <div class="small-rectangle">
            <button type="button" class="like" onclick="handleLike({{.ID}})"><span id="likeCount-{{.ID}}">0</span></button>
            <button type="button" class="dislike" onclick="handleDislike({{.ID}})"><span id="dislikeCount-{{.ID}}">0</span></button>
            <a href="/home/post/{{.ID}}/comment" class="comment-button"></a>
        </div>
        {{end}}
    </ul>
    <script>
      function handleLike(postID) {
    fetch('/like', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ postID: postID })
    })
    .then(response => response.json())
    .then(data => {
        if (data.likes !== undefined && data.dislikes !== undefined) {
            document.getElementById('likeCount-' + postID).textContent = data.likes;
            document.getElementById('dislikeCount-' + postID).textContent = data.dislikes;
        } else {
            console.error('Invalid response data:', data);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function handleDislike(postID) {
    fetch('/dislike', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ postID: postID })
    })
    .then(response => response.json())
    .then(data => {
        if (data.likes !== undefined && data.dislikes !== undefined) {
            document.getElementById('likeCount-' + postID).textContent = data.likes;
            document.getElementById('dislikeCount-' + postID).textContent = data.dislikes;
        } else {
            console.error('Invalid response data:', data);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
    </script>
</body>

</html>
