<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Registeration</title>
    <link rel="stylesheet" type="text/css" href="/static/loginPage.css">
</head>
<body>
    <div class="wrapper">
        <h2>Login</h2>
    <form action="/login" method="post">
        <div class="input-field">
    <input type="email" name="email" placeholder="email" required>
        </div>
    <div class="input-field">
        <input type="password" name="password" placeholder="password" required>
    </div>
    <button type="submit">Log In</button>
    </form>

    {{if ne .Msg ""}}
    <p>{{.Msg}}</p>
    {{end}}
    <div class="register">
    <p>Don't have an account? <a href="/register">register</a></p>
    </div>
    <a href="/home">continue without an account</a>
</div>
</body>
</html>