<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Post Details</title>
    <link rel="stylesheet" href="/static/postDetail.css">
</head>

<body>
    <div class="post">
        <div class="post-meta">
            <small>By {{.Username}}</small><br>
            <small>Posted on {{.CreatedAt}}</small>
            {{if gt (len .Categories) 0}}
            <p>Categories: {{range .Categories}}{{.Name}}{{end}}</p>
            {{end}}
        </div>
        <h2>{{.Title}}</h2>
        <p class="post-content">{{.Content}}</p>
    </div>
    <div style="margin-right: 1000px ;">
        <a href="/home">Back to Home</a>
    </div>
    <div class="add-comment-button">
        <a href="/home/post/{{.ID}}/comment">+ Add Comment</a>
    </div>
    {{ if gt (len .Comments) 0 }}
    <h3>Comments</h3>
    <div class="comments">

        {{range .Comments}}

        <div class="comment">
            <div class="post-meta">
                <small>By {{.Username}}</small><br>
                <small>Posted on {{.FormattedCreatedAt}}</small>
            </div>
            <p class="comment-content">{{.Content}}</p>

            <div class="small-rectangle">
                <button type="button" class="like" onclick="handleReaction({{.CommentID}}, 1, 'comment')"><span id="likeCount-{{.CommentID}}">{{.Likes}}</span></button>
                <button type="button" class="dislike" onclick="handleReaction({{.CommentID}}, 0, 'comment')"><span id="dislikeCount-{{.CommentID}}">{{.Dislikes}}</span></button>
            </div>
        </div>
        {{end}}

        {{else}}

        <h2>No comments yet</h2>
        <p>Be the first one to comment!</p>
        {{end}}
    </div>

    <script>
function handleReaction(id, action, type) {
    fetch('/reaction', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ ID: id, action: action, type: type })
    })
    .then(response => response.json())
    .then(data => {
        if (data.likes !== undefined && data.dislikes !== undefined) {
            document.getElementById('likeCount-' + id).textContent = data.likes;
            document.getElementById('dislikeCount-' + id).textContent = data.dislikes;
        } else {
            console.error('Invalid response data:', data);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        window.location.replace("/login")
    });
}


      </script>
</body>

</html>