    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post Details</title>
        <link rel="stylesheet" href="/static/postDetail.css">
    </head>
    <body>
        <div class="post">
            <div class="post-meta">
                <small>By {{.Username}}</small><br>
                <small>Posted on {{.CreatedAt}}</small>
            </div>
            <h2>{{.Title}}</h2>
            <p class="post-content">{{.Content}}</p>
        </div>
        <div class="add-comment-button">
        <a href="/home/post/{{.ID}}/comment">+ Add Comment</a>  
        </div>
        <h3>Comments</h3>
        <div class="comments">
            {{range .Comments}}
            <div class="comment">
                <div class="post-meta">
                    <small>By {{.Username}}</small><br>
                    <small>Posted on {{.FormattedCreatedAt}}</small>
                </div>
                <p class="comment-content">{{.Content}}</p>
            </div>
            {{end}}
        </div>
    </body>
    </html>
