<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <link rel="stylesheet" href="/static/userinfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <a class="bar" href="/user-info"><i class='bx bx-user-circle'></i><span>{{.Username}}</span></a>
        <div class="header-right">
            <a onclick="toggleMenu()" class="mann"><i class='bx bx-menu'></i></a>
        </div>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="home">
                    <a href="/"><i class='bx bx-home-circle'></i>Home</a>
                </div>
                <hr>
                <div class="help">
                    <a href="/help"><i class='bx bx-help-circle'></i>Help & Support</a>
                </div>
                <hr>
                <div class="logout">
                    <form action="/logout" method="post">
                        <button type="submit"><i class='bx bx-log-out-circle'></i>Logout</button>
                    </form>
                </div>
            </div>
        </div>

    </header>

    <div class="container">
        <div class="tabs">
            <button class="tab-button active" onclick="showTab('posts')">Posts</button>
            <button class="tab-button" onclick="showTab('liked')">Liked</button>
            <button class="tab-button" onclick="showTab('dislkied')">Disliked</button>
            <button class="tab-button" onclick="showTab('commented')">Comments</button>
            <div class="underline"></div>
        </div>

        <div id="posts" class="tab-content">
            <h1>Your Posts</h1>
            {{if .Posts}}
            <ul class="post-list">
                {{range .Posts}}
                <li class="post-item">
                    <a href="/post/{{.ID}}" class="post-link">
                        <div class="post">
                            <div class="post-meta">
                                <small>Posted on {{.FormattedCreatedAt}}</small>
                                {{if gt (len .Categories) 0}}
                                <p>Categories: {{joinAndTrim .Categories}}</p>
                                {{end}}
                            </div>
                            <p class="post-title">{{.Title}}</p>
                            {{if .Base64Image}}
                            <div class="post-image"><img src="data:image/png;base64,{{.Base64Image}}"></div>
                            {{end}}
                            <p class="post-content">{{.Content}}</p>
                        </div>
                    </a>
                </li>
                {{end}}
            </ul>
            {{else}}
            <p class="no-interaction">It looks like you haven't posted anything yet.</p>
            {{end}}
        </div>

        <div id="liked" class="tab-content" style="display:none;">
            <h1>Liked Posts</h1>
            {{if .LikedPosts}}
            <ul class="post-list">
                {{range .LikedPosts}}
                <li class="post-item">
                    <a href="/post/{{.ID}}" class="post-link">
                        <div class="post">
                            <div class="post-meta">
                                <small>By {{.Username}}</small>
                                <br>
                                <small>Posted on {{.FormattedCreatedAt}}</small>
                                {{if gt (len .Categories) 0}}
                                <p>Categories: {{joinAndTrim .Categories}}</p>
                                {{end}}
                            </div>
                            <p class="post-title">{{.Title}}</p>
                            <p class="post-content">{{.Content}}</p>
                        </div>
                    </a>
                </li>
                {{end}}
            </ul>
            {{else}}
            <p class="no-interaction">It looks like you haven't liked any posts yet.</p>
            {{end}}
        </div>

        <div id="dislkied" class="tab-content" style="display:none;">
            <h1>Disliked Posts</h1>
            {{if .DislikedPosts}}
            <ul class="post-list">
                {{range .DislikedPosts}}
                <li class="post-item">
                    <a href="/post/{{.ID}}" class="post-link">
                        <div class="post">
                            <div class="post-meta">
                                <small>By {{.Username}}</small>
                                <br>
                                <small>Posted on {{.FormattedCreatedAt}}</small>
                                {{if gt (len .Categories) 0}}
                                <p>Categories: {{joinAndTrim .Categories}}</p>
                                {{end}}
                            </div>
                            <p class="post-title">{{.Title}}</p>
                            <p class="post-content">{{.Content}}</p>
                        </div>
                    </a>
                </li>
                {{end}}
            </ul>
            {{else}}
            <p class="no-interaction">It looks like you haven't disliked any posts yet.</p>
            {{end}}
        </div>

        <div id="commented" class="tab-content" style="display: none;">
            <h1>Your Comments</h1>
            {{if .Comments}}
            <ul class="post-list">
                {{range $postID, $postWithComments := .Comments}}
                <li class="post-item">
                    <!-- Display post information -->
                    <div class="post">
                        <a href="/post/{{$postWithComments.Post.ID}}" class="post-link">
                            <div class="post-meta">
                                <small>By {{$postWithComments.Post.Username}}</small>
                                <br>
                                <small>Posted on {{$postWithComments.Post.FormattedCreatedAt}}</small>
                                {{if gt (len $postWithComments.Post.Categories) 0}}
                                <p>Categories: {{joinAndTrim $postWithComments.Post.Categories}}</p>
                                {{end}}
                            </div>
                            <p class="post-title">{{$postWithComments.Post.Title}}</p>
                            <p class="post-content">{{$postWithComments.Post.Content}}</p>
                        </a>
                    </div>

                    <!-- Display comments for the post -->
                    <ul class="comment-list">
                        {{range $postWithComments.Comments}}
                        <li class="comment-item">
                            <div class="comment">
                                <p class="comment-meta">Commented on {{.FormattedCreatedAt}}</p>
                                <p class="comment-content">{{.Content}}</p>
                                <p class="comment-likes">
                                    Likes: {{.Likes}}, Dislikes: {{.Dislikes}}
                                </p>
                            </div>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
            {{else}}
            <p class="no-interaction">It looks like you haven't commented on any posts yet.</p>
            {{end}}
        </div>
    </div>

    <script>
        function showTab(tab) {
            const tabs = document.querySelectorAll('.tab-content');
            const buttons = document.querySelectorAll('.tab-button');
            tabs.forEach(t => t.style.display = 'none');
            buttons.forEach(b => b.classList.remove('active'));

            document.getElementById(tab).style.display = 'block';
            event.currentTarget.classList.add('active');

            const underline = document.querySelector('.underline');
            underline.style.width = event.currentTarget.offsetWidth + 'px';
            underline.style.left = event.currentTarget.offsetLeft + 'px';
        }

        document.addEventListener('DOMContentLoaded', () => {
            const activeButton = document.querySelector('.tab-button.active');
            const underline = document.querySelector('.underline');
            underline.style.width = activeButton.offsetWidth + 'px';
            underline.style.left = activeButton.offsetLeft + 'px';
            showTab('posts');
        });
    </script>
    <script>
        function toggleMenu() {
            const subMenu = document.getElementById("subMenu");

            subMenu.classList.toggle("open-menu");
        }
    </script>
</body>

</html>