<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <link rel="stylesheet" href="/static/userinfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <a class="bar" href="/user-info"><i class='bx bx-user-circle'></i><span>{{.Username}}</span></a>
        <a href="/" class="home"><i class='bx bx-home-circle'></i></a>
    </header>

    <div class="container">
        <h1>User Posts</h1>
        {{if .Posts}}
        <ul class="post-list">
            {{range .Posts}}
            <li class="post-item">
                <a href="/post/{{.ID}}" class="post-link">
                    <div class="post">
                        <div class="post-meta">
                            <small>Posted on {{.FormattedCreatedAt}}</small>
                            {{if gt (len .Categories) 0}}
                            <p>Categories: {{joinAndTrim .Categories}}</p>
                            {{end}}
                        </div>
                        <p class="post-title">{{.Title}}</p>
                        <p class="post-content">{{.Content}}</p>
                    </div>
                </a>
            </li>
            {{end}}
        </ul>
        {{else}}
        <p>No posts available.</p>
        {{end}}

        <h1>Liked Posts</h1>
        {{if .LikedPosts}}
        <ul class="post-list">
            {{range .LikedPosts}}
            <li class="post-item">
                <a href="/post/{{.ID}}" class="post-link">
                    <div class="post">
                        <div class="post-meta">
                            <small>By {{.Username}}</small>
                            <br>
                            <small>Posted on {{.FormattedCreatedAt}}</small>
                            {{if gt (len .Categories) 0}}
                            <p>Categories: {{joinAndTrim .Categories}}</p>
                            {{end}}
                        </div>
                        <p class="post-title">{{.Title}}</p>
                        <p class="post-content">{{.Content}}</p>
                    </div>
                </a>
            </li>
            {{end}}
        </ul>
        {{else}}
        <p>No liked posts available.</p>
        {{end}}
    </div>
</body>

</html>
